<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Membrane</title>
    <style>
        table {
            text-align: center;
        }
        button {
            display: inline-block;
            margin-top: 12px;
        }
        .data {
            display: none;
        }
    </style>
</head>
<body>
    <h1>membrane</h1>
    <table id="table"></table>
    <button type="button" onclick="toggleAllResults();">toggle results</button>
    <button type="button" onclick="toggleAllData();">toggle data</button>
    <script>
        const iterations = 4; //120;
        const useCases = ['one', 'two', 'three', 'four', 'five'];
        let table = document.getElementById('table')

        Array.prototype.arithmeticMean = function(){
            return this.reduce(function(sum, value){
                return sum + value
            }, 0) / this.length
        }

        Array.prototype.standardDeviation = function(sample = true) {
            let average = this.arithmeticMean()
            return Math.sqrt(this.map(function(value) {
                return Math.pow(value - average, 2)
            }).reduce(function(sum, value){
                return sum + value
            }, 0) / (this.length - (sample ? 1 : 0)))
        }

        Array.range = function(from, to, step = 1){
            var array = [from];
            while(from + step <= to){
                array[array.length] = from += step;
            }
            return array;
        }

        function toggleDisplay(array, indices) {
            for (var index = 0; index < indices.length; index++) {
                let style = array[indices[index]].style;
                style.display = (style.display) ? '' : 'none';
            }
        }

        function toggleRows(indices) {
            var rows = table.getElementsByTagName('tr');
            toggleDisplay(rows, indices);
        }

        function toggleAllData() {
            var display = 'table-cell';
            let elements = document.getElementsByClassName('data');
            if (elements[0].style.display == display) {
                display = 'none';
            }
            Array.from(elements).forEach(element => {
                element.style.display = display;
            });
        }

        function toggleAllResults() {
            toggleRows(Array.range(2,useCases.length * 4,2));
        }

        function header() {
            var header = '<tr><th style="white-space:nowrap;">use case</th><th>tech.</th><th>best</th>';
            for (let i = 1; i < iterations - 1; i++) {
                header += `<th class="data">${i+1}</th>`;
            } 
            header += '<th>worst</th><th>avg.</th><th>st.dev</th></tr>';
            table.innerHTML += header;
        }

        function row(name, tech, values, stats = true) {
            values.sort();
            var row = `<tr><td>${name}</td><td>${tech}</td><td>${values[0]}</td>`;
            for (let i = 1; i < iterations - 1; i++) {
                row += '<td class="data">'+values[i]+'</td>';
            }
            var arithmeticMean = stats ? values.arithmeticMean() : "";
            var standardDeviation = stats ? values.standardDeviation() : "";
            row += `<td>${values[values.length-1]}</td><td>${arithmeticMean}</td><td>${standardDeviation}</td></tr>`;
            table.innerHTML += row;
        }

        header();
        for (let name = 0; name < useCases.length; name++) {
            var data = [];
            var results = [];
            for (let index = 0; index < iterations; index++) {
                data[index] = Math.random();
                results[index] = `"${data[index].toFixed(2)}"`;
            }
            row(useCases[name], 'asm.js', data);
            row('', '', results, false);
            for (let index = 0; index < iterations; index++) {
                data[index] = Math.random();
                results[index] = `"${data[index].toFixed(2)}"`;
            }
            row('', 'wasm', data);
            row('', '', results, false);
        }

        toggleAllResults();
    </script>
</body>
</html>