<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Membrane</title>
    <style>
        table {
            text-align: center;
        }
        #toggleValues {
            display: inline-block;
            margin-top: 12px;
        }
        .value {
            display: none;
        }
    </style>
</head>
<body>
    <h1>membrane</h1>
    <table id="table"></table>
    <button id="toggleValues" type="button" onclick="toggleValues()">show all values</button>
    <script>
        const iterations = 120;

        Array.prototype.arithmeticMean = function(){
            return this.reduce(function(sum, value){
                return sum + value
            }, 0) / this.length
        }

        Array.prototype.standardDeviation = function(sample = true) {
            let average = this.arithmeticMean()
            return Math.sqrt(this.map(function(value) {
                return Math.pow(value - average, 2)
            }).reduce(function(sum, value){
                return sum + value
            }, 0) / (this.length - (sample ? 1 : 0)))
        }

        function toggleValues() {
            var text = 'show all values';
            var display = 'none';
            let button = document.getElementById('toggleValues');
            if (button.innerText == text) {
                text = 'hide most values';
                display = 'table-cell';
            }
            button.innerText = text;            
            Array.from(document.getElementsByClassName('value')).forEach(element => {                element.style.display = display;
            });
        }

        function header() {
            var header = '<tr><th style="white-space:nowrap;">use case</th><th>tech.</th><th>best</th>';
            for (let i = 1; i < iterations - 1; i++) {
                header += `<th class="value">${i+1}</th>`;
            } 
            header += '<th>worst</th><th>avg.</th><th>st.dev</th></tr>';
            return header;
        }

        function row(name, tech, values) {
            values.sort();
            var row = `<tr><td>${name}</td><td>${tech}</td><td>${values[0]}</td>`;
            for (let i = 1; i < iterations - 1; i++) {
                row += '<td class="value">'+values[i]+'</td>';
            }
            row += `<td>${values[values.length-1]}</td><td>${values.arithmeticMean()}</td><td>${values.standardDeviation()}</td></tr>`;
            return row;
        }

        let table = document.getElementById('table')
        table.innerHTML += header();
        for (let name = 0; name < 5; name++) {
            var values = [];
            for (let index = 0; index < iterations; index++) {
                values[index] = Math.random();
            }
            table.innerHTML += row(name, 'asm.js', values);
            for (let index = 0; index < iterations; index++) {
                values[index] = Math.random();
            }
            table.innerHTML += row('', 'wasm', values);
        }
    </script>
</body>
</html>